<div class="noselect text-center">

    <div class=""></div>

    <div class="weeks-container">
        <div class="week w-100 d-flex justify-content-between">
            <button class="btn text-center date-button" [class.btn-primary]="day.isSame(selectedDate, 'day')" *ngFor="let day of week" (click)="selectDate(day)" [disabled]="disabled || (day.isBefore(minDate, 'day') || day.isAfter(maxDate, 'day'))">
                <div class="date-header">{{day.format("DD")}}</div>
                <span class="date-footer">{{day.format("ddd")}}</span>
            </button>
        </div>
    </div>

    <div class="controls-container" class="d-flex justify-content-between mx-2 text-muted mt-1">
        <div class="d-flex align-items-center">
            <button class="btn btn-link btn-sm mr-2 p-1" name="button" (click)="prevWeek()">
                <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 512 512'><title>ionicons-v5-a</title><polyline points='244 400 100 256 244 112' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/><line x1='120' y1='256' x2='412' y2='256' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg>
            </button>
            <span>{{week[0].format("MMM, YY")}}</span>
        </div>
        <div class="d-flex align-items-center">
            <button class="btn btn-link mr-2" name="button" (click)="selectToday()">
                Today
            </button>
        </div>
        <div class="d-flex align-items-center">
            <span>{{week[6].format("MMM, YY")}}</span>
            <button class="btn btn-link btn-sm ml-2 p-1" name="button" (click)="nextWeek()">
                <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 512 512'><title>ionicons-v5-a</title><polyline points='268 112 412 256 268 400' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/><line x1='392' y1='256' x2='100' y2='256' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px'/></svg>
            </button>
        </div>

    </div>
</div>
